* {margin:0;padding:0}
body {font-family:Arial;font-size:14px;line-height:20px;color:#000;}
.main{width:960px;margin:20px auto;display:block;overflow:hidden}

.mainmenu{background:#258767;min-height:57px;width:960px;}
.mainmenu ul{margin:0;padding:0;list-style:none}
.mainmenu ul li{float:right;border-right:1px solid #34B98B;border-left:1px solid #1B5D46;position:relative}
.mainmenu ul li:first-child{border-left:0px solid}
.mainmenu ul li:last-child{border-right:0px solid}
.mainmenu ul li a{display:block;color:#000;padding:10px 20px;text-decoration:none}
.mainmenu ul li a:hover{background:#1B5D46}

.maincontent{background:#7CA894;overflow:hidden;width:960px;margin-left:0px;height:750px;margin-top:-20px;}

.EQ{background:#7CA894;overflow:hidden;width:1200px;height:800px;margin-top:-200px;margin-left:480px;font-size:18px}
.inf{background:#7CA894;overflow:hidden;width:1200px;height:800px;margin-top:-200px;margin-left:400px;;border-left:0px solid;font-size:18px}
.infh{background:#7CA894;overflow:hidden;width:1200px;height:800px;margin-top:-200px;margin-left:420px;;border-left:0px solid;font-size:15px}
.infh1{background:#7CA894;overflow:hidden;width:1200px;height:800px;margin-top:-150px;margin-left:480px;;border-left:0px solid;font-size:20px}
.imc{margin-top:10px;margin-left:80px;border:3px;border:solid;color:#258767;
border-radius: 7px;width:200px;background-color:#258767;}
.im{margin-top:60px;margin-left:90px;font-size:20px}
.myfooter{width:960px;height:40px;background-color:#258767;text-align:center}

.lik{height:140px;width:300px;margin-top:-55px;margin-left:50px;background-color:#7CA894;border:3px;border:solid;color:#258767;
border-radius: 7px;}
.li{margin-top:30px;margin-left:5px;border:1px;border:solid;color:white;
border-radius:2px;height:15px;width:15px;}
.lix{margin-top:-18px;margin-left:25px;color:000;font-size:15px
}
.lix1{margin-top:-20px;margin-left:25px;color:000;font-size:15px
}
.fb{margin-top:25px;margin-left:-2px;height:20px;width:20px;}
.con{margin-top:-20px;margin-left:115px;color:000;font-size:15px
}